<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Welcome to Cappasity</title>
  <link href="../css/cappasity-new.css" media="all" rel="stylesheet" type="text/css" inline />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
</head>
<body itemscope itemtype="http://schema.org/EmailMessage">
<table class="body-wrap">
  <tr>
    <td></td>
    <td class="container">
      <div class="content">
        <table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope itemtype="http://schema.org/InformAction">
          <tr>
            <td class="content-wrap">
              <meta itemprop="name" content="Welcome Email"/>
              <table width="100%" cellpadding="0" cellspacing="0">
                <!-- @include _partials/cpst-3dshot-logo.html -->
                <tr>
                  <td class="text">
                    <p>
                      Hi{{#if name}} {{ name }}{{/if}},
                    </p>
                    <p>
                      We are excited to have you on board the Cappasity platform and know that you will enjoy it!
                    </p>
                    <p class="last">
                      With us, you can easily create interactive 3D Views of any
                      items and showcase them anywhere you want. You can also
                      record a 3D Review of any product and share it on social
                      media or add to a marketplace listing.
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h5 class="last">
                      How to create 3D Views and record 3D Reviews
                    </h5>
                  </td>
                </tr>
                <tr>
                  <td class="image-block">
                    <img alt="3dShot app" src="https://cdn.cappasity.com/mail/cpst-3dshot-how-to.jpg" width="539" height="271">
                  </td>
                </tr>
                <tr>
                  <td itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
                    <a href="https://3dshot.io/how-to" class="btn primary" itemprop="url">
                      Find out
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="text support-block">
                    If you need help with anything, please contact us 24/7 via
                    live support on our website or at <a href="mailto:{{ support }}">
                    {{ support }}
                  </a>
                  </td>
                </tr>
                <tr>
                  <td class="muted">
                    Best,<br>
                    Cappasity Team
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <!-- @include _partials/cpst-footer.html -->
      </div>
    </td>
    <td></td>
  </tr>
</table>
</body>
</html>
