<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Accept an invitation</title>
    <link rel="stylesheet" href="../css/sl.css" inline>
  </head>
  <body>
    <table class="container">
      <tr>
        <td>
          <h1>Welcome!</h1>
          <h2>
            {{ username }} has invited you to join their StreamLayer studio team.
          </h2>
        </td>
      </tr>

      <tr class="sl-button-row">
        <td>
          <a class="sl-button" href="{{ link }}{{ qs }}">Activate my account</a>
        </td>
      </tr>

      <tr>
        <td>
          <p class="sl-text sl-text_top">
            StreamLayer Studio is a configuration, moderation and analytics tool to help you create immersive, engaging interactive experiences.
          </p>
          <p class="sl-text sl-text_bottom">
            We’d ❤️ to hear your feedback at <a class="sl-link" href="mailto: feedback@streamlayer.io">feedback@streamlayer.io</a>.
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>
