<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Password Reset</title>
    <link rel="stylesheet" href="../css/sl.css" inline>
  </head>
  <body>
    <table class="main">
      <tr>
        <td class="logo-container">
          <img src="https://cdn.streamlayer.io/assets/streamlayer-logo%402x.png" class="sl-logo" />
        </td>
      </tr>
      <tr>
        <td>
          <table class="container">
            <tr>
              <td>
                <h1>Hello!</h1>
                <h2>
                  To reset your password, click the button below.
                </h2>
              </td>
            </tr>

            <tr class="sl-button-row">
              <td>
                <a class="sl-button" href="{{ link }}{{ qs }}">Reset my password</a>
              </td>
            </tr>

            <tr>
              <td>
                <p class="sl-text sl-text_top">
                  If you did not requrest your password to@ be reset, please ignore this email and your password will stay as it is.</a>
                </p>
                <p class="sl-text sl-text_bottom">
                  You can contact us directly through the chat feature in StreamLayer Studio or just send us an email at <a class="sl-link" href="mailto: feedback@streamlayer.io">feedback@streamlayer.io</a>.
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
