<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Password Reset</title>
    <link rel="stylesheet" href="../css/sl.css" inline>
</head>
<body class="sl-body">
<table class="sl-main">
    <tr>
        <td class="logo-container">
            <img src="https://cdn.streamlayer.io/assets/streamlayer-logo.png" class="sl-logo"/>
        </td>
    </tr>
    <tr>
        <td>
            <table class="container">
                <tr>
                    <td>
                        <h1 class="centered">Welcome to StreamLayer!</h1>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="sl-text ">
                            You made a great choice and we are excited to help you create incredibly engaging
                            interactive experiences.
                        </p>
                        <p class="sl-text">
                            Studio is the control center of your interactive experience and as the account owner, you’ll
                            be able to
                            invite your team, assign roles as well as configure and moderate events.
                        </p>
                        <p class="sl-text-common">You can log in using credentials.</p>
                        <p class="sl-text-common">login: <strong>{{ email }}</strong></p>
                        <p class="sl-text-common">password: <strong>{{ password }}</strong></p>
                        <p class="sl-text">You can change your password after login to a custom password by going to <strong>Profile > Security.</strong></p>
                    </td>
                </tr>
                <tr class="sl-button-row">
                    <td>
                        <a class="sl-button" href="{{ link }}{{ qs }}">Login to StreamLayer Studio</a>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p class="sl-text sl-text_top">
                            Questions? We're here to help! Drop us a line at <a class="sl-link"
                                                                                href="mailto: hello@streamlayer.io">hello@streamlayer.io</a>,
                            or send us an in-app
                            chat at any time.
                        </p>
                        <p class="sl-text">
                            Let us know how we can help!
                        </p>
                        <h2>
                            The StreamLayer Team
                        </h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="sl-text sl-text_top">
                            StreamLayer Studio is a configuration, moderation and analytics tool to help you create
                            immersive, engaging interactive experiences.
                        </p>
                        <p class="sl-text sl-text_bottom">
                            We’d <span>&#10084;&#65039;</span> to hear your feedback at <a class="sl-link"
                                                                                           href="mailto: feedback@streamlayer.io">feedback@streamlayer.io</a>.
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
