<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Password Reset</title>
    <link rel="stylesheet" href="../css/sl.css" inline>
</head>
<body>
<table class="main">
    <tr>
        <td class="logo-container">
            <img src="https://cdn.streamlayer.io/assets/streamlayer-logo%402x.png" class="sl-logo"/>
        </td>
    </tr>
    <tr>
        <td>
            <table class="container">
                <tr>
                    <td>
                        <h1 class="less-margin-top">Welcome to StreamLayer!</h1>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="sl-text ">
                            You made a great choice and we are excited to help you create incredibly engaging
                            interactive experiences.
                        </p>
                        <p class="sl-text">
                            If you're ready to get going right away, make sure to read through all of the <a class="sl-link"
                                                                                          href="#">basics</a>. Once
                            you’ve done that, please review the SDK and API <a class="sl-link"
                                                                                          href="#">documentations</a> and share it with your key
                            engineers.
                        </p>
                        <p class="sl-text">
                            Finally, below is the link to activate your StreamLayer Studio account. Studio is the
                            control center of your interactive experience and as the account owner, you’ll be able to
                            invite your team, assign roles as well as configure and moderate events.
                        </p>
                    </td>
                </tr>
                <tr class="sl-button-row">
                    <td>
                        <a class="sl-button" href="{{ link }}{{ qs }}">Activate Studio</a>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p class="sl-text sl-text_top">
                            Questions? We're here to help! Drop us a line at <a class="sl-link"
                                                                                href="mailto: feedback@streamlayer.io">hello@streamlayer.io</a>,
                            or send us an in-app
                            chat at any time.
                        </p>
                        <p class="sl-text">
                            Let us know how we can help!
                        </p>
                        <h2>
                            The StreamLayer Team
                        </h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="sl-text sl-text_top">
                            StreamLayer Studio is a configuration, moderation and analytics tool to help you create
                            immersive, engaging interactive experiences.
                        </p>
                        <p class="sl-text sl-text_bottom">
                            We’d <span>&#10084;&#65039;</span> to hear your feedback at <a class="sl-link"
                                                                                          href="mailto: feedback@streamlayer.io">feedback@streamlayer.io</a>.
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
